/* 
   Language Selector Styles
   Tailwind handles most styles, this is for specific state classes.
*/

.show-menu {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(100%) !important;
}

.rotate-arrow {
    transform: rotate(180deg);
}